/* 모달 스타일 설정 */
.custom-modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 40%;
  margin: auto;
  background-color: rgb(204, 113, 204);
  overflow-y: auto;
  overflow-x: hidden;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: center;
  
  padding: 0; /* 패딩 제거 */
  margin: 0; /* 마진 제거 */

  width: 100%;
  height: 15%;
  align-items: center;
  background-color: lightblue;

  /* 디버깅용으로 경계선 */
  border: 1px solid black;
}

.big-infocontainer{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  flex-direction: column;
  align-items: stretch;
  width: 100%; /* Takes up 80% of modal-header */
  height: 100%;
  border: 1px solid black; /* For debugging purposes */
}

.info-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  /* padding: 0 10px; */
  /* 디버깅용으로 경계선 */
  border: 1px solid black;
}

.modal-header p {
  margin-left: 10px; /* h3 태그의 마진 제거 */
  margin-top : 2px;
  margin-bottom: 2px;
  font-size: calc(10vh * 0.5 * 0.3);
  line-height: 100%; /* modal-header의 높이에 맞춤 */
}

.close-button-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%; /* Takes up 20% of modal-header */
  height: 100%;
  border: 1px solid black; /* For debugging purposes */
}

.close-button{
  width: auto;          /* 이미지의 너비를 자동으로 설정 */
  height: 80%;         /* 이미지의 높이를 부모 요소의 높이에 맞게 설정 */
  max-height: 80%;     /* 이미지의 최대 높이를 부모 요소의 높이에 맞게 설정 */
  object-fit: contain;  /* 이미지가 컨테이너에 맞도록 설정 */
  /* margin-right: 0.5vw; */
  /* border-radius: 50%;/ */
  cursor: pointer;
}

.modal-message-input{
  display: flex;

  align-items: center;
  justify-content: space-between; /* input과 img 사이 공간 확보 */

  width: 100%;
  height: 67%;
  margin: auto;
  border: 1px solid black;
  border-radius: 5px;

  background-color: blanchedalmond;
}

.modal-message-input input {
  width: 100%; /* modal-message-input의 80% 너비 */
  height: 100%; /* modal-message-input의 높이에 맞춤 */
  padding: 0 10px; /* 여백 추가 */
  border: 1px solid #ccc; /* 테두리 스타일 */
  border-radius: 4px; /* 모서리 둥글게 */
  box-sizing: border-box; /* 박스 모델을 테두리와 패딩 포함하도록 설정 */
}

.sendbutton-container{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%; /* Takes up 20% of modal-header */
  height: 15%;
  border: 1px solid black; /* For debugging purposes */
}

.message-send-button{
  width: auto;          /* 이미지의 너비를 자동으로 설정 */
  height: 100%;         /* 이미지의 높이를 부모 요소의 높이에 맞게 설정 */
  max-height: 100%;     /* 이미지의 최대 높이를 부모 요소의 높이에 맞게 설정 */
  object-fit: contain;  /* 이미지가 컨테이너에 맞도록 설정 */
  /* margin-right: 0.5vw; */
  /* border-radius: 50%;/ */
  cursor: pointer;
  background-color: rgb(157, 243, 164);
}
