/* 사진 넘기는 기능 구현할 때 필요 */
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.user-content {
  width: 100%;
  /* width: 453.094;
  height: 546.062; */

  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  margin-bottom: 1.5%;
}

.userPhoto {
  width:100%; /* 너비를 100%로 설정 */
  height: auto; /* 높이를 자동으로 설정 */
  border: 1px solid black;
  display: flex; /* 플렉스 컨테이너로 설정 */
  flex-direction: column; /* 세로 방향으로 요소 배치 */
  align-items: center; /* 가운데 정렬 */
  /* margin-right: 10px;  */
}

.content-box{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 3150px;
  height: 40px;
  gap: 1vw;
  /* padding-left: 0.5vw;
  padding-right: 0.5vw; */
  /* background-color: transparent;  */
  /* 기본값은 transparent입니다 -> 디버깅을 위해 구역 확인용으로 색 바꿈 */
  background-color: rgb(132, 121, 104);

  border : 1px solid black;
  /* border-radius: 10px; */
  /* margin: auto; */
}

.profile{
  width: auto;          /* 이미지의 너비를 자동으로 설정 */
  height: 80%;         /* 이미지의 높이를 부모 요소의 높이에 맞게 설정 */
  max-height: 80%;     /* 이미지의 최대 높이를 부모 요소의 높이에 맞게 설정 */
  object-fit: contain;  /* 이미지가 컨테이너에 맞도록 설정 */
  margin-right: 0.5vw;
  border-radius: 50%;
}

.photo-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 3150px;
  height: 30vw;
  /* gap: 1vw;
  padding-left: 0.5vw;
  padding-right: 0.5vw; */
  /* background-color: transparent;  */
  /* 기본값은 transparent입니다 -> 디버깅을 위해 구역 확인용으로 색 바꿈 */
  background-color: rgb(220, 107, 167);

  border : 1px solid black;
  margin: auto;
}


.photo {
  max-width: 100%;      /* 이미지의 최대 너비를 컨테이너의 너비에 맞게 설정 */
  max-height: 100%;     /* 이미지의 최대 높이를 컨테이너의 높이에 맞게 설정 */
  object-fit: contain;  /* 이미지가 컨테이너에 맞도록 설정 */
}